.menu > li{
	font-family: 'Praise','Raleway','Verdana','Helvetica','Agbalumo', sans-serif;	
}

.btn,.btn__text,button{
	font-family: 'Praise','Raleway','Verdana','Helvetica','Agbalumo', sans-serif;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: 'Praise','Helvetica','Agbalumo', sans-serif;
}